.aside h1 {
  color: var(--primary);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 30px 30px;
}

ul {
  padding-left: 5px;
  color: var(--white);
}

li {
  font-family: Poppins;
  list-style: none;
  margin-bottom: 18px;
  padding: 8px;
  font-style: normal;
  font-size: 14px;
}

.list1 {
  padding-top: 25px;
}

.list2 {
  padding-left: 15px;
}

.aside img {
  width: 18px;
  height: 18px;
  padding-right: 4px;
}

.arrow {
  padding-left: 130px;
  transform: translateY(3px);
}

.active {
  background: #ffdb58e5;
  margin-right: 10px;
  border-radius: 5px;
  color: var(--secondry);
  font-weight: 600;
}
