.filter-modal {
  background: var(--white);
  position: absolute;
  top: 238px;
  right: 80px;
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 170px;
  height: 190px;
  padding: 10px;
}
.filter-modal h1 {
  font-size: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin: 0px;
  padding-left: 5px;
}

.filter-modal li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: var(--gray);
  margin-bottom: 0px;
  border: 0.8px solid rgba(97, 70, 242, 0.08);
}
